extends layout

block content

	div.container
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					h1#main-header The Eskimo Club
					a.navbar-brand(href='#')
						img(alt='Brand', src='/images/eskimo-logo.jpg')
	//- h1 Eskimo Ski Club
	div(ng-view)
