extends layout

block content

	div.container
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					h1#main-header The Eskimo Ski & Board Club
						h4#tagline ... be part of Colorado history ...
							a#eskimo-logo.navbar-brand(href='#/admin')
								img(alt='Brand', src='/images/eskimo-logo.jpg')


	//- h1 Eskimo Ski Club
	div(ng-view)
