doctype html
html(lang='en', ng-app="eskimoApp")
	head
		meta(charset="utf-8")
		title Eskimo Ski Club
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/main.css")
		link(rel="stylesheet", href="/stylesheets/xeditable.css")

	body
		block content
		

		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js")
		script(src="scripts/xeditable.js")
		script(src="scripts/client.js")