//- extends layout

h3 ADMIN PAGE
div(ng-controller="adminController")
	form(editable-form="" name="tableform" oncancel="cancel()")
		table.table.table-striped.table-bordered.table-condensed
			thead
				tr
					th.header First
					th.header Last 
					th.header DOB 
					th.header Age 
					th.header SKI level 
					th.header SB level 
					th.header 
						span(ng-show="tableform.$visible") Action

			tbody
				tr(ng-repeat="kid in kids")
					td.edit.firstname 
						span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.name.first" e-form="tableform" e-ng-change="update(kid.id,this,'name.first',kid.name.first)" e-ng-model-options="{updateOn:'blur'}") {{kid.name.first}}
					td.edit.lastname
						span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.name.last" e-form="tableform" e-ng-change="update(kid.id,this,'name.last',kid.name.last)" e-ng-model-options="{updateOn:'blur'}") {{kid.name.last}}	
					td.edit.dob 
						span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.dob | date" e-form="tableform" e-ng-change="update(kid.id,this,'dob',kid.dob)" e-ng-model-options="{updateOn:'blur'}") {{kid.dob | date}}
					td.edit.age {{kid.age}} {{kid.category}}
					td.edit.skiLevel
						span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.skiLevel" e-form="tableform" e-ng-change="update(kid.id,this,'skiLevel',kid.skiLevel)" e-ng-model-options="{updateOn:'blur'}") {{kid.skiLevel}}
					td.edit.sbLevel
						span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.sbLevel" e-form="tableform" e-ng-change="update(kid.id,this,'sbLevel',kid.sbLevel)" e-ng-model-options="{updateOn:'blur'}") {{kid.sbLevel}}	
					td
						button.btn.btn-danger.pull-right(type="button" ng-show="tableform.$visible" ng-click="delete(kid._id)") del
		div.btn-edit
			button.btn.btn-default(type="button" ng-show="!tableform.$visible" ng-click="tableform.$show()") edit
		div.btn-form(ng-show="tableform.$visible")
			button.btn.btn-default(ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()") cancel
			button.btn.btn-default(ng-disabled="tableform.$waiting" ng-click="open()") add new eskimo

		select(ng-model="tenSkiValues")
			option(ng-click="tenSki()" ng-options="val for val in tenSkiValues")

	
	//- modal for adding new kid
	script#addModalContent(type="text/ng-template")
		div.modal-header
			h3.modal-title New Eskimo

		form.simple-form(novalidate ng-submit="$close(kid)")
			div.modal-body
				input.first-name(ng-model="kid.name.first" type="text" placeholder="first name")
				input.last-name(ng-model="kid.name.last" type="text" placeholder="last name")
				input.dob(type="date" ng-model="kid.dob" placeholder="dob")
				input.street(type="text" ng-model="kid.address.street" placeholder="street address")
				input.city(type="text" ng-model="kid.address.city" placeholder="city")
				input.state(type="text" ng-model="kid.address.state" placeholder="CO")
				input.zip(type="text" ng-model="kid.address.zip" placeholder="zip")
				input.mainCell(type="text" ng-model="kid.phone.mainCell" placeholder="cell")
				input.emergCell(type="text" ng-model="kid.phone.emergCell" placeholder="emergency number")
				input.busStop(type="text" ng-model="kid.busStop" placeholder="bus stop")
				input.skiLevel(type="text" ng-model="kid.skiLevel" placeholder="ski level")
				input.sbLevel(type="text" ng-model="kid.sbLevel" placeholder="sb level")
				input.checkbox.status(type="checkbox" ng-model="kid.active")
				input.medical(type="text" ng-model="kid.medical" placeholder="medical info")

			div.modal-footer
				button.btn.btn-primary(type="submit") OK
				button.btn.btn-warning(ng-click="$dismiss()") Cancel


