//- extends layout
div.container
	div.background-white.container-fluid
		h4.under-navbar Administration
		a.btn.btn-default.home-btn-bus.pull-right(type="button" href='#/') home
		//- button.home-btn.btn-warning.pull-right.btn-default.btn-default
		//- 	a(href='#/' type="button") home
		div(ng-controller="adminController")
			form(editable-form="" name="tableform" oncancel="cancel()")
				table.table.table-striped.table-bordered.table-condensed.tablecustom
					thead.tabletop
						tr
							th.header.col-md-2 First
							th.header.col-md-2 
								a.sort-tag(href='' ng-click='predicate="name.last"; reverse=!reverse') Last
							th.header.col-md-2
								a.sort-tag(href='' ng-click='predicate="skiLevel"; reverse=!reverse') SKI level
							th.header.col-md-2
								a.sort-tag(href='' ng-click='predicate="sbLevel"; reverse=!reverse') SB level
							th.header.col-md-1.age
								a.sort-tag(href='' ng-click='predicate="age"; reverse=!reverse') Age
							th.header.col-md-2 DOB 
							th.header.col-md-2 
								span(ng-show="tableform.$visible") Action

					tbody
						tr(ng-repeat="kid in kids | orderBy:predicate:reverse | filter:filterUser")
							td.edit.firstname 
								span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.name.first" e-form="tableform" e-ng-change="update(kid.id,this,'name.first',kid.name.first)" e-ng-model-options="{updateOn:'blur'}") {{kid.name.first}}
							td.edit.lastname 
								span(ng-click="tableform.$show()" editable-text="kid.name.last" e-form="tableform" e-ng-change="update(kid.id,this,'name.last',kid.name.last)" e-ng-model-options="{updateOn:'blur'}") {{kid.name.last}}
							td.edit
									span.ng-hide(ng-hide="tableform.$visible") {{kid.skiLevel}}
									select.skiLevel(editable-select="kid.skiLevel" type="text" ng-show="tableform.$visible" e-ng-change="update(kid.id,this,'skiLevel')" e-ng-options="c.color as c.label for c in skiValues(kid.category)")
							td.edit.sbLevel
									span.ng-hide(ng-hide="tableform.$visible") {{kid.sbLevel}}
									select(editable-select="kid.sbLevel" type="text" ng-show="tableform.$visible" e-ng-change="update(kid.id,this,'sbLevel')" e-ng-options="c.color as c.label for c in sbValues(kid.category)")
							td.edit.age {{kid.age}}
							td.edit.dob
								span.ng-scope.ng-binding.editable(ng-click="tableform.$show()" editable-text="kid.dob | date" e-form="tableform" e-ng-change="update(kid.id,this,'dob',kid.dob)" e-ng-model-options="{updateOn:'blur'}") {{kid.dob | date}}
							td
								span.glyphicon.glyphicon-pencil(ng-show="tableform.$visible" ng-click="openExisting(kid)")
								button.btn-del.btn.btn-warning.pull-right(type="button" ng-show="tableform.$visible" ng-click="delete(kid._id); deleteFromView(kid.id)") del
					div.btn-edit
						button.btn-ad-open.btn.btn-default(type="button" ng-show="!tableform.$visible" ng-click="tableform.$show()") edit
					div.btn-form(ng-show="tableform.$visible")
						button.btn-ad-open.btn.btn-default.btn-close(ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()") close
						button.btn-ad-open.btn.btn-default.btn-add.pull-right(ng-disabled="tableform.$waiting" ng-click="openNew()") add new eskimo
			
			//- modal for adding new kid
			script#addModalContent(type="text/ng-template")
				div.modal-header
					h3.modal-title New Eskimo

				form.simple-form(novalidate ng-submit="$close(kid)")
					div.modal-body
						input.modal-intake.first-name(ng-model="kid.name.first" type="text" placeholder="first name")
						br
						input.modal-intake.last-name(ng-model="kid.name.last" type="text" placeholder="last name")
						br
						input.modal-intake.dob(type="date" ng-model="kid.dob" placeholder="dob")
						br
						input.modal-intake.street(type="text" ng-model="kid.address.street" placeholder="street address")
						br
						input.modal-intake.city(type="text" ng-model="kid.address.city" placeholder="city")
						br
						input.modal-intake.state(type="text" ng-model="kid.address.state" placeholder="CO")
						br
						input.modal-intake.zip(type="text" ng-model="kid.address.zip" placeholder="zip")
						br
						input.modal-intake.mainCell(type="text" ng-model="kid.phone.mainCell" placeholder="cell")
						br
						input.modal-intake.emergCell(type="text" ng-model="kid.phone.emergCell" placeholder="emergency number")
						br
						select.modal-intake.busStop(type="text" ng-model="busStops")
							option.modal-intake(ng-repeat="stop in busStops | orderBy:'stop' track by $index") {{stop.stop}}
						br
						label.modal-intake Active!
							input.modal-intake.checkbox.status(type="checkbox" ng-model="kid.active")
						br
						input.modal-intake.medical(type="textarea" ng-model="kid.medical" placeholder="medical info")

					div.modal-footer
						button.btn.btn-primary(type="submit") OK
						button.btn.btn-warning(ng-click="$dismiss()") Cancel

			//- modal for updating existing kid
			script#updateModalContent(type="text/ng-template")
				div.modal-header
					h3.modal-title Update Eskimo

				form.simple-form(novalidate ng-submit="$close(kid.id)")
					div.modal-body
						span.first-name(type="text") {{oneKid.skiLevel}} ID here
						//- input.last-name(ng-model="kid.name.last" type="text" placeholder={{kid.name.last}})
						//- input.dob(type="date" ng-model="kid.dob" placeholder={{"kid.dob"}})
						//- input.street(type="text" ng-model="kid.address.street" placeholder={{kid.address.street}})
						//- input.city(type="text" ng-model="kid.address.city" placeholder={{kid.address.city}})
						//- input.state(type="text" ng-model="kid.address.state" placeholder={{kid.address.state}})
						//- input.zip(type="text" ng-model="kid.address.zip" placeholder={{kid.address.zip}})
						//- input.mainCell(type="text" ng-model="kid.phone.mainCell" placeholder={{kid.phone.mainCell}})
						//- input.emergCell(type="text" ng-model="kid.phone.emergCell" placeholder={{kid.phone.emergCell}})
						//- select.busStop(type="text" ng-model="busStops")
						//- 	option(ng-repeat="stop in busStops | orderBy:'stop'") {{stop.stop}}
						//- input.skiLevel(type="text" ng-model="kid.skiLevel" placeholder="skilevel")
						//- input.sbLevel(type="text" ng-model="kid.sbLevel" placeholder="sblevel")
						//- input.checkbox.status(type="checkbox" ng-model="kid.active")
						//- input.medical(type="text" ng-model="kid.medical" placeholder="medical info")

					div.modal-footer
						button.btn.btn-primary(type="submit") OK
						button.btn.btn-warning(ng-click="$dismiss()") Cancel


