h2 Information for March 21, 2015
	button.home-btn.btn-warning.pull-right
	a(href='#/' type="button") home

	p Bus Stop

	//- table.table.table-bordered
	//- 	thead
	//- 		th.header-bus Bus Stop
	//- 		th.header-bus Departs from Den
	//- 		th.header-bus Arrives back to Den
	//- 	tbody
	//- 		tr.bus-row placeholder data
	//- 		tr.bus-row placeholder data
	//- 		tr.bus-row placeholder data
