div.container
	div.background-white.container-fluid
		//- h4.under-navbar Administration
		h2.bus-header Information for March 21, 2015
		a.btn.btn-default.home-btn-bus.pull-right(type="button" href='#/') home

		table.table.table-bordered.table-striped
			thead.tabletop
				th.header-bus Zone
				th.header-bus Bus Stop
				th.header-bus Departs from Den
				th.header-bus Arrives back to Den
				th.header-bus Location
			tbody
				tr
					td.bus-row Southeast
					td.bus-row Parker
					td.bus-row 5:45 AM
					td.bus-row 6:00 PM
					td.bus-row 
						a(href='') Parker location detail
				tr
					td.bus-row East Denver
					td.bus-row Hampden & Happy Canyon
					td.bus-row 6:10 AM
					td.bus-row 5:45 PM
					td.bus-row 
						a(href='') Hampden/HC location detail
				tr
					td.bus-row Central
					td.bus-row Calvary Temple
					td.bus-row 6:20 AM
					td.bus-row 5:10 PM
					td.bus-row 
						a(href='') Calvary Temple location detail
				tr
					td.bus-row West
					td.bus-row 38th & Youngfield
					td.bus-row 6:55 AM
					td.bus-row 4:50 PM
					td.bus-row 
						a(href='') 38th/Youngfield location detail
				tr
					td.bus-row West
					td.bus-row Lower Genesee
					td.bus-row *** No Stop 3/21
					td.bus-row *** Go to 38th & Youngfield
					td.bus-row 
						a(href='') 38th/Youngfield location detail
