div.container-main
	div.container.hero
		img(src='/images/skischool.jpg')
		a.btn-bus.btn.btn-primary.btn-lg.pull-right(href="#/busSched") bus schedule


		//- h3.overlay ... be a Part of Colorado History ...





