div.container-main
	div.container.hero
		img(src='/images/skischool.jpg')
		a.btn-bus.btn.btn-primary.btn-lg.pull-right(href="#/busSched") bus schedule


		.row
			.col-xs-6.col-md-4
				.thumbnail
					.caption
						h3 
							a(href="") Our Values
						img(src='/images/eskimo-group-on-hill.jpg', alt='eskimo-group-on-hill')

						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut condimentum diam et diam auctor congue. Vivamus justo dui, ultrices sit amet mauris feugiat, pretium sollicitudin erat. Integer vitae ullamcorper ipsum. Vestibulum tincidunt sapien ut accumsan rhoncus. Quisque rutrum orci posuere risus tincidunt, et rhoncus ante semper. In finibus leo eu mi semper ullamcorper. Phasellus vehicula fermentum euismod. Vestibulum eget rhoncus ipsum. 

			.col-xs-6.col-md-4
				.thumbnail
					.caption 
						h3
							a(href="") FAQ
						img.shield(src='/images/kids-sb.jpeg', alt='kids-sb')

						p Curabitur condimentum massa nisl, quis venenatis augue blandit eu. Donec non magna posuere, vulputate leo eu, euismod quam. Curabitur sit amet dui vitae tellus lobortis tempor et non sem. Phasellus metus ante, porta eget diam non, gravida ultricies justo. Aenean id molestie sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

			.col-xs-6.col-md-4
				.thumbnail
					.caption
						h3
							a(href="") For Parents
						img(src='/images/2015030795134145_resized.jpg', alt='kids-on-lift')

						p Curabitur condimentum massa nisl, quis venenatis augue blandit eu. Donec non magna posuere, vulputate leo eu, euismod quam. Curabitur sit amet dui vitae tellus lobortis tempor et non sem. Phasellus metus ante, porta eget diam non, gravida ultricies justo. Aenean id molestie sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.






