div.container-main
	div.container.hero
		img(src='/images/skischool.jpg')
		a.btn-bus.btn.btn-primary.btn-lg.pull-right(href="#/busSched") bus schedule


		.row
			.col-xs-6.col-md-4
				.thumbnail
					.caption
						h3 
							a(href="") History
						img(src='/images/eskimo-group-on-hill.jpg', alt='eskimo-group-on-hill')

						p Founded prior to WWII, the Eskimo club has been providing transportation from Denver to Winter Park Resort to teach skiing and snowboarding.  The Eskimo Club was responsible for the original ski train and shifted to bus transportation in the 1980s in order to avoid meeting at Union Station.

						p Frank Bulkley, founder of the Eskimo club was inducted to the Colorado Ski Hall of Fame in 1978 -- "the first living inductee," he would say with a chuckle.

			.col-xs-6.col-md-4
				.thumbnail
					.caption 
						h3
							a(href="") FAQ
						img.shield(src='/images/kids-sb.jpeg', alt='kids-sb')

						p Eskimo members are 9 to 17 years old. Membership fee covers lessons each week, discounted daily lift tickets and a special rate on your season pass.

						p Please refer to the Essential Clothing Guide for suggestions on how to dress for the ski day.

						p No, we don't discriminate against snowboarders.  In fact, my little one wants to be a knuckle-dragger for several lessons upcoming.

			.col-xs-6.col-md-4
				.thumbnail
					.caption
						h3
							a(href="") For Parents
						img(src='/images/2015030795134145_resized.jpg', alt='kids-on-lift')
						|..
						p

						p Please check the website each Friday after 3pm. Bus schedules are based on anticipated I-70 traffic, so departure times may change.

						p Please RSVP via the website for bus space on the upcoming trip.

						P Every child who is late for the bus back to Denver will be sent home with a kitten. 

						p Electronics should be limited to cell phones, or brought along at your own risk.






