extends layout

block content

	div.container
		nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(href='#')
						img(alt='Brand', src='/images/eskimo-logo.jpg')

	div.new-user
		