//- h3 SELECT TESTING
//- 	div(ng-controller="levelController")

//- 		ul Level List
//- 			li(ng-repeat="level in levels") {{level.color}}

		//- select(ng-model="levels" e-ng-options="level as level.label for level in levels")
		//- 	| {{level}}
		