/*MAIN CSS STYLESHEET*/
#main-header {
	float: right;
}
#eskimo-logo {
	float: left;
}
.navbar-header {
	height: 7em;
}
.navbar-default {
	background-color: #96a7b4;
}
.sort-tag {
	color: #595959 ;
}

