/*MAIN CSS STYLESHEET*/
body {
	background: url('/images/binding_light_@2X.png');
	background-color: #bbb;
}
#main-header {
	font-family: 'Oswald', sans-serif;
	margin-left: 100px;
	position: relative;
}
#eskimo-logo {
	/*float: right;*/
	position:absolute;
	left: 10px;
	top:5px;
}
#tagline {
	text-align: left;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: white;
	margin-left: 100px;
	font-style: italic;
}
.navbar-header {
	height: 90px;
}
.navbar-default {
	background-color: #96a7b4;
	margin-bottom: 0;
	border-bottom: 3px solid #8b4513;
}
.under-navbar {
	margin-top:55px;
	text-align: center;
}
.container-main {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
/*.table {
	width: auto;
}*/
.sort-tag.tabletop {
	color: #595959 ;
	background-color: #96a7b4;
}
.background-white {
	background-color: white;
}
.hero {
/*	box-sizing: border-box;*/
	/*background-color: white;*/
	text-align: center;
}
.hero img {
	width: 100%;
	height: auto;
/*	border: solid 2px white;
*/}
.jumbotron {
	/*background-image: url('/images/skischool.jpg');*/
	/*background-repeat: no-repeat;*/
	/*width: 90%;*/
	/*height: 450px;*/
	/*background-position: center;*/
	background-color: white;
	/*padding-top: 55px;*/
}
/*.overlay {
	font-family:  'Oswald', sans-serif;
	margin-top:13.5em;
	text-align: center;*/
}
.home-btn {
	/*position: fixed;*/
	vertical-align: right;
	background: #96a7b4;

}
.skiLevel {
	height:22px;
	font:1em;
}
.btn-bus {
	position: absolute;
	right: 20px;
	top:25px;
	background-color: #f47a20;
	border: 2px solid #8b4513;
}
.btn-close .btn-add {
	background-color: peachpuff;
}
.modal-intake {
	font-size: 20px;
	width: 350px;
	margin-left:45px;
	margin-bottom:5px;
}
.tablecustom {
	margin-top: 10px;
}
.tabletop {
	background-color: #eeeceb;
}
.modal-header {
	text-align: center;
}


